<ons-toolbar>
    <div class="center">Page1</div>
</ons-toolbar>

<div style="text-align: center">
    <br />
    <ons-button 
        ng-click="myNavigator.pushPage('new_page.html')">
        Push New Page
    </ons-button>
</div>

<div style="text-align: center">
    <br />
    <ons-button 
        ng-click="myNavigator.pushPage('page2.html');">
    	Push Page 2
	</ons-button>
</div>


<div style="text-align: center">
    <br />
    <ons-button 
        ng-click="myNavigator.pushPage('page3.html');">
        Push Page 3
	</ons-button>
</div>

